<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132172467389-ecspj25d3ppvm4lirv6vc7l9099r67vv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132172467389-ecspj25d3ppvm4lirv6vc7l9099r67vv</string>
	<key>API_KEY</key>
	<string>AIzaSyA0DfUue2Y5HhjBuO3Qxrpg1TXYHYNO180</string>
	<key>GCM_SENDER_ID</key>
	<string>132172467389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kbsamet.habitTracker</string>
	<key>PROJECT_ID</key>
	<string>habit-tracker-mobile-4fade</string>
	<key>STORAGE_BUCKET</key>
	<string>habit-tracker-mobile-4fade.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132172467389:ios:a557d8e9000d36fea13bd4</string>
</dict>
</plist>